html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    line-height: 1;
    background-color: rgba(106, 103, 171, 0.5);
}
input{
    width: 20%;
    padding: 1rem;
    border-radius: .5rem;
}


#boton_in {
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    border-radius: .5rem;
    width: 10%;
    
   

}